/* 
Tamplate Name : helps cherity &donation thame
Author Name : unknown
Author gmail : unknown
Tamplate Designer : unknown
Version : 1.0.0
===========================
Table of Content
---------------------------
* Common CSS
=============
1.home page CSS
==================
1.1 header section
1.2 banner section
1.3 Charity section
1.4
1.5
1.6
*/

/* Common css start */
@font-face {
    font-family: 'Reey';
    src:url('../fonts/Reey-Regular.ttf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root{
    --reeyfont: 'Reey', sans-serif;
    --primary-color : #15c8a0;
    --dark-color : #1f2230;
    --liner3s : all linear .3s ;
}
body{
    font-family: 'Nunito', sans-serif;
}
h1,h2,h3,h4,h5,h6,
p,
span,small,
ol,ul{
    padding: 0;
    margin: 0;
}
a,a:hover{
    text-decoration: none;
}
a{
    display: inline-block;
}
ul,ol{
    list-style: none;
}
h5.smtitle{
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 900;
    position: relative;
    padding-left: 60px;
}
h5.smtitle::before{
    content: ' ';
    position: absolute;
    width: 50px;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: var(--primary-color);
}
/* Common css end */

/* header section start */
header .logo{
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
}
.pd{
    padding: 0 70px;
}
header .top_sec{
    border-bottom: 1px solid #ddd;
    color: var(--dark-color);
}
header .top_sec p{
    font-size: 14px ;
    
}
header .top_sec .mail i{
    color: var(--primary-color);
    font-size: 14px ;
    padding-right: 5px;
}
header .top_sec .mail a{
    font-size: 14px ;
    color: var(--dark-color);
    
}
header .top_sec .social ul li{
    margin: 0 14px;
}
header .top_sec .social ul li a{
    color: var(--dark-color);
    font-size: 14px;
    padding: 10px 8px;
    line-height: 18px;
    display: inline-block;
    transition: all linear .3s;
}
header .top_sec .social ul li a:hover{
    color: var(--primary-color);
}
header .menu nav ul{
    width: 100%;
}
header .menu nav ul li{
    padding: 28px 0;
}
header .menu nav ul li a{
    display: inline-block;
    color: #707876;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    transition: var(--liner3s);
    position: relative;
}
header .menu nav ul li a.nav-link{
    padding: initial !important;
}
header .menu nav ul li a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -2px;
    height: 2px;
    width: 0%;
    background-color: var(--primary-color);
    transition: var(--liner3s);
}
header .menu nav ul li a:hover:after{
    width: 100%;
}
header .menu nav ul li a:hover{
    color: var(--dark-color);
}
header .menu .donate a{
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 17px;
    font-size: 14px;
    font-weight: 900;
    transition: var(--liner3s);
}
header .menu .donate a:hover{
    background-color: #1f2230;
}
/* header section end */

/* banner section start */
#banner .slider_item{
    background: url(../images/helps/main-slider-1.jpg);
    height: 700px;
    position: relative;
}
#banner .slider_item::after{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: hsl(229, 22%, 15%, .7);
    z-index: 1;
}
#banner .slider_item .container{
    position: relative;
}
#banner .slider_item .container,
#banner .slider_item .container .row{
    height: 100%;
}
#banner .slider_item .slider_content{
    color: #fff;
    z-index: 2
}
#banner .slider_item .slider_content h4{
    font-family: var(--reeyfont);
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 20px 0;
}
#banner .slider_item .slider_content h2{
    font-size: 80px;
    font-weight: 900;
    text-transform:capitalize;
}
#banner .slider_item .slider_content h2 span{
    text-transform: lowercase;
}
#banner .slider_item .slider_content a{
    display: inline-block;
    padding: 22px 45px;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    text-transform: capitalize;
    background-color: var(--primary-color);
    margin-top: 24px;
}
#banner .slider_item .slider_content a .right{
    padding-right: 2px;
}
#banner .slider_item .slide_right_content{
    position: absolute;
    right: 20px;
    bottom: 0;
    background-color: #eff5f4;
    z-index: 2;
}
#banner .slider_item .right_content .text{
    display: inline;
    text-align: center;
    transition: var(--liner3s);
    padding: 20px 5px;
}
#banner .slider_item .right_content .text:hover{
    background-color: var(--primary-color);
}
#banner .slider_item .right_content .text:hover span,
#banner .slider_item .right_content .text:hover h4{
    color: #fff;
}
#banner .slider_item .right_content .text span{
    font-size: 44px;
    font-weight: 900;
    color: var(--primary-color);
    transition: var(--liner3s);
}
#banner .slider_item .right_content .text h4{
    font-size: 16px;
    font-weight: 900;
    transition: var(--liner3s);
}
/* banner section end */
/* Charity section start */
#charity{
    margin: 100px 0 160px;
}
#charity .img-sec{
    position: relative;
}
#charity .main_img{
    position: relative;
}
#charity .main_img::before{
    content: '';
    position: absolute;
    left: -60px;
    top: 0;
    width: 24px;
    height: 44%;
    background-color: var(--primary-color);
}
#charity .main_img img{
    width: 95%;
}
#charity .main_img .upperimg{
    position: absolute;
    left: -64px;
    bottom: -30px;
    width: 320px;
}
#charity .main_img .upperimg img{
    width: 320px;
}
#charity .img-sec .bttext{
    position: absolute;
    left: 65px;
    bottom: -50px;
}
#charity .img-sec .bttext p{
    font-family: var(--reeyfont);
    font-size: 50px;
    font-weight: 400;
    text-transform: capitalize;
    color: #15c8a0;
}
#charity .img-sec .hearticon{
    position: absolute;
    right: 49px;
    bottom: -89px;
}
#charity .img-sec .bttext .hearticon img{
    width: 100%;
}
#charity .charity_content{
    padding-left: 20px;
}
#charity .charity_content .heading{
    margin-bottom: 34px;
}
#charity .charity_content .heading p{
    font-size: 18px;
    font-weight: 900;
    color: var(--primary-color);
}
#charity .charity_content .heading h2{
    font-size: 47px;
    font-weight: 900;
    text-transform: capitalize;
    color: var(--dark-color);
}
#charity .charity_content .content_para p{
    color: #707876;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}
#charity .charity_content .goal{
    padding: 24px 0;
}
#charity .charity_content .goal h5{
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 18px;
}
#charity .charity_content .goal h5 i{
    color: var(--primary-color);
    margin-right: 4px;
}
#charity .charity_content .goal p{
    font-size: 16px;
    font-weight: 700;
    color: #707876;
}
#charity .charity_content .proggres p{
    font-size: 20px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 5px;
}
#charity .charity_content a{
    display: inline-block;
    padding: 14px 22px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 45px;
}
/* Charity section end */
/* Causes section start */
#causes{
    margin: 100px 0 80px;
}
#causes .tlebg{
    position: relative;
}
#causes .tlebg::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 510px;
    background-color: #eff5f4;
    z-index: -1;
}
#causes .causestitle{
    text-transform: capitalize;
    padding: 100px 0 80px;
}
#causes .causestitle p{
    color: var(--primary-color);
    font-weight: 900;
    font-size: 20px;
}
#causes .causestitle h3{
    font-size: 50px;
    font-weight: 900;
    line-height: 62px;
}
#causes .causes_slider .causes_item{
    border: 1px solid #efefef;
    margin: 0 12px;
}
#causes .causes_slider .causes_item .card{
    border-radius: initial;
    border: initial;
    padding: 20px;
}
#causes .causes_slider .causes_item .card img{
    border-top-left-radius: initial;
    border-top-right-radius: initial;
    margin-top: -44px;
}
#causes .causes_slider .causes_item .card .card-body{
    padding: 1rem 0 0 0;
}
#causes .causes_slider .causes_item .card .card-body a{
    font-size: 28px;
    font-weight: 900;
    display: inline-block;
    color: var(--dark-color);
    text-transform: capitalize;
}
#causes .causes_slider .causes_item .card .card-body p{
    font-size: 16px;
    color: #707876;
    
}
#causes .causes_slider .causes_item .causes_item_btm{
    padding: 20px;
    background-color: #eff5f4;
}
#causes .causes_slider .causes_item .causes_item_btm .causes_prggres{
    padding-top: 24px;
}
#causes .causes_slider .causes_item ul li p{
    font-size: 20px;
    font-weight: 900;
}
#causes .causes_slider .causes_item ul li p small{
    font-weight: 400;
    color: #707876;
    text-transform: capitalize;
    font-size: 14px;
}
/* Causes section end */
/* join community section start*/
#community{
    background: url(../images/helps/join-one-bg.jpg);
    background-position: left;
    background-size: cover;
}
#community .title{
    padding: 80px 0;
}
#community .title h2{
    font-size: 48px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 30px;
}
#community .title a{
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    padding: 14px 34px;
    text-transform: capitalize;
    color: #fff;
    background-color: var(--primary-color);
}
/* join community section end */
/* donate section  start */
#donate{
    margin: 100px 0;
}
#donate .donatetitle{
    text-transform: capitalize;
    padding-bottom: 30px;
}
#donate .donatetitle p{
    color: var(--primary-color);
    font-weight: 900;
    font-size: 20px;
}
#donate .donatetitle h3{
    font-size: 50px;
    font-weight: 900;
    line-height: 62px;
}
#donate .donate_content{
    padding-right: 50px;
}
#donate .content_box h3{
    font-size: 24px;
    font-weight: 900;
    color: var(--primary-color);
}
#donate .content_box p{
    padding: 28px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: #707876;
}
#donate .donate_causes p{
    padding: 8px 0;
    font-size: 18px;
    font-weight: 900;
    color: var(--dark-color);
    text-transform: capitalize;
}
#donate .donate_causes p i{
    margin-right: 6px;
    color: var(--primary-color);
}
#donate .donate_content .helping_img{
    margin-top: 70px;
    position: relative;
}
#donate .helping_img img{
    width: 100%;
}
#donate .helping_img .img_icon{
    position: absolute;
    right: 30px;
    top: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    text-align: center;
}
#donate .helping_img .img_icon i{
    font-size: 38px;
    line-height: 120px;
    color: #fff
}
#donate .donate_form{
    background-color: #eff5f4;
    padding: 60px;
}
#donate .donate_form form input,
#donate .donate_form form textarea{
    border: none;
    box-shadow: none;
    font-family: 'Nunito', sans-serif;
    padding: 24px 20px;
    font-size: 16px;
    font-weight: 700;
    color: #707876;
    text-transform: capitalize;
}
#donate .donate_form form textarea{
    min-height: 160px;
}
#donate .donate_form form a{
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 60px;
    transition: var(--liner3s);
}
#donate .donate_form form a:hover{
    background-color: var(--dark-color);
}
/* donate section  end */
/* testimonial section start */
#testimonial{
    padding-bottom: 100px;
    background: url(../images/helps/testimonial-1-bg.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
}
#testimonial::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(239, 245, 244, .9);
    z-index: -1;
}
.test_gallary {
    margin-bottom: -100px;
    position: relative;
    z-index: 2;
}
.test_gallary .tesitem{
    padding: 0 12px ;
}
.test_gallary .tesitem .img_over img{
    width: 100%;
}
.test_gallary .img_over {
    position: relative;
}
.test_gallary .img_over::after{
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background-color:rgba(21, 200, 160, .7);
    position: absolute;
    transition: var(--liner3s);
}
.test_gallary .tesitem:hover .img_over::after{
    height: 100%;
}
.test_gallary .over_tle {
    position: absolute;
    inset: 0;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all .4s linear;
    color: #fff;
    z-index: 2;
    text-align: center;
}
.test_gallary .tesitem:hover .over_tle{
    opacity: 1;
    visibility: visible;
}
.test_gallary .tesitem .over_tle p{
    transition: var(--liner3s);
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    text-transform: capitalize;
}
.test_gallary .tesitem .over_tle p span{
    font-family: var(--reeyfont);
    font-weight: 700;
    font-size: 30px;
}
#testimonial .clientSec{
    padding-top: 200px;
}
#testimonial .clientSec .heading h5{
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: capitalize;
}
#testimonial .clientSec .heading h2{
    font-size: 47px;
    font-weight: 900;
    line-height: 64px;
    padding-right: 38px;
    color: var(--dark-color);
    text-transform: capitalize;
}
#testimonial .clientSec .tesitem{
    background-color: #fff;
    padding: 30px;
}
#testimonial .clientSec .tesitem p{
    font-size: 16px;
    color: #707876;
    line-height: 32px;
}
#testimonial .clientSec .tesitem .client{
    margin-top: 18px;
}
#testimonial .clientSec .tesitem .name p{
    font-size: 20px;
    font-weight: 900;
    color: var(--primary-color);
    text-transform: capitalize;
}
#testimonial .clientSec .tesitem .name span{
    font-size: 18px;
    font-weight: 700;
    color: #707876;
    text-transform: capitalize;
}
.sliderarrow{
    position: absolute;
    left: -30%;
    top: 75%;
    height: 50px;
    width: 50px;
    background: #fff;
    z-index: 1;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: var(--dark-color);
    cursor: pointer;
}
.sliderarrow.fa-arrow-left{
    left: -40%;
}
/* testimonial section end */
/* blog section start */
#blog{
    padding: 100px 0;
}
#blog .content P{
    font-size: 44px;
    font-weight: 900;
    color: var(--dark-color);
    text-transform: capitalize;
    line-height: 68px;
}
#blog .blog_link a{
    display: inline-block;
    font-size: 18px;
    text-transform: capitalize;
    padding: 18px 44px;
    background: #eff5f4;
    color: var(--dark-color);
    font-weight: 700;
    transition: var(--liner3s);
}
#blog .blog_link a:hover{
    background-color: var(--dark-color);
    color: #fff;
}
#blog .blog_link a i{
    margin-right: 6px;
}
#blog .blog_item{
    padding-top: 40px;
}
#blog .blog_item .main_item{
    position: relative;

}
#blog .blog_item .main_item img{
    width: 100%;
}
#blog .blog_item  .main_item_overlay{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 0;
    background-color: rgba(31,34,48, .9);
    transition: var(--liner3s);
    opacity: 0;
    visibility: 0;

}
#blog .blog_item .item_left:hover .main_item .main_item_overlay{
    height: 100%;
    opacity: 1;
    visibility: 1;
}
#blog .blog_item .main_item_overlay a{
    font-size: 24px;
    color: var(--primary-color);
}
#blog .blog_item .item_title{
    background-color: var(--primary-color);
    color: #fff;
    padding: 24px;
}
#blog .blog_item .item_title p{
    font-size: 14px;
}
#blog .blog_item .item_title a{
    font-size: 24px;
    font-weight: 900;
    padding-top: 14px;
    display: inline-block;
}
#blog .item_right .news_img{
    position: relative;
    transition: var(--liner3s);
}
#blog .item_right .news_img img{
    width: 100%;
}
#blog .item_right .newsright{
    padding-bottom: 16px;
}
#blog .item_right .newsright .news_title p{
    font-size: 14px;
    color: #707876;
}
#blog .item_right .newsright:hover .main_item_overlay{
    height: 100%;
    opacity: 1;
    visibility: 1;
}
#blog .item_right .newsright:hover .news_title a{
    color: var(--primary-color);
}
#blog .item_right .newsright .news_title p span{
    color: var(--primary-color);
}
#blog .item_right .newsright .news_title a{
    display: inline-block;
    font-size: 28px;
    font-weight: 900;
    color: var(--dark-color);
    transition: var(--liner3s);
}
/* blog section end */

/* contact section start */
#contact{
    background: url(../images/helps/footer-bg.jpg);
    padding: 100px 0;
    position: relative;
    z-index: 2;
}
#contact::after{
    content: '';
    position: absolute;
    background: rgba(31,34,48,.95);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#contact .con_about h3,
#contact .con_explore h3,
#contact .con h3,
#contact .newsletter h3{
    font-size: 22px;
    font-weight: 900;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 12px;
}
#contact .con_about p{
    font-size: 16px;
    color: #b8bbc9;
    line-height: 32px;
}
#contact .con_about a{
    font-size: 16px;
    color: #fff;
    display: inline-block;
    padding: 10px 14px;
    background-color: var(--primary-color);
    margin-top: 12px;
    text-transform: capitalize;
}
#contact .con_explore ul li{
    width: 50%;
    padding: 10px 0 ;
}
#contact .con_explore ul li a{
    padding: 0;
    text-transform: capitalize;
    font-size: 16px;
    color: #b8bbc9;
    transition: var(--liner3s);
}
#contact .con_explore ul li a:hover{
    color: var(--primary-color);
}
#contact .con ul li{
    width: 100%;
    border-bottom: 1px solid #ffffff1a;
    padding: 8px 0;
}
#contact .con ul li:last-child{
    border-bottom: 1px solid transparent;
}
#contact .con ul li .icon{
    font-size: 34px;
    color: #15c8a0;
}
#contact .con ul li .d{
    margin-left: 14px;
}
#contact .con ul li .d p{
    color: #b8bbc9;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}
#contact .con ul li .d a{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    transition: var(--liner3s);
}
#contact .con ul li .d a:hover{
    color: var(--primary-color);
}
#contact .newsletter p{
    font-size: 16px;
    color: #b8bbc9;
    line-height: 32px;
}
#contact .newsletter input[type="mail"] {
    padding: 16px;
    margin-top: 14px;
    font-size: 14px;
    width: 100%;
    border: 0;
}
input:focus{
    border: 0;
    outline: 0;
}
/* contact section end */
/* footer section start */
footer .fot_img{
    background: var(--primary-color);
}
footer .fot_social{
    background: var(--dark-color);
}
footer .fot_social ul li{
    padding: 50px 5px;
}
footer .fot_social ul li a{
    display: inline-block;
    padding: initial;
    background: #fff;
    border-radius: 50%;
    transition: var(--liner3s);
    color: var(--dark-color);
}
footer .fot_social ul li a:hover{
    background-color: var(--primary-color);
    color: #fff;
}
footer .fot_social ul li a i{
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
}
footer .fot_tle{
    background-color: var(--dark-color);
    padding-left: 70px;
}
footer .fot_tle p{
    font-size: 18px;
    font-weight: 700;
    color: #b8bbc9;
    text-transform: capitalize;
}
/* footer section end */

/* 
================
home page css end
====================*/

/*====================
About Page
=========================*/
/* Common Css Start */

h5.about_heading{
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 900;
    position: relative;
    padding-left: 60px;
}
h5.about_heading::before{
    content: ' ';
    position: absolute;
    width: 50px;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: var(--primary-color);
}
/* ||Common Css End|| */
/* About Banner Css Start */
#about_banner{
    background: url(../images/helps/banner-about.jpg);
    height: 350px;
    position: relative;
    background-size: cover;
    background-position: top;
    z-index: 1;
    color: #fff;
}
#about_banner::after{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: hsl(229, 22%, 15%, .7);
    z-index: -1;
}
#about_banner h2{
    font-size: 70px;
    font-weight: 900;
}
#about_banner .banner_container{
    background-color: #fff;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 15%;
    padding: 11px 40px;
}
#about_banner .banner_container ul li{
    display: inline-block;
}
#about_banner .banner_container ul li a{
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 900;
}
#about_banner .banner_container ul li.slash{
    padding: 0 5px;
    color: #E5EEEC;
}
#about_banner .banner_container ul li a.mark_ab{
    color: var(--primary-color);
}
/* ||About Banner Css End|| */

/* Our Introductions Css Start */
#introduction{
    padding: 100px 0;
}
#introduction .intro_img{
    position: relative;
}
#introduction .intro_img img{
    border-bottom: 10px solid var(--primary-color);
}
#introduction .intro_img .intro_img_overlay_text{
    background-color: #fff;
    box-shadow: -3px 1px 5px 1px rgba(0,0,0,0.44);
-webkit-box-shadow: -3px 1px 5px 1px rgba(0,0,0,0.44);
-moz-box-shadow: -3px 1px 5px 1px rgba(0,0,0,0.44);
    position: absolute;
    left: -50px;
    bottom: 80px;
    padding: 40px 45px;
}
#introduction .intro_img .intro_img_overlay_text h6{
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    color: var(--dark-color);
    width: 165px;
}
#introduction .intro_img .intro_img_overlay_text h6 span{
    color: var(--primary-color);
}
#introduction .intro_content{
    padding-left: 60px;
}
#introduction .intro_content h2{
    font-size: 50px;
    line-height: 62px;
    color: var(--dark-color);
    font-weight: 900;
    padding-top: 5px;
}
#introduction .intro_content p{
    font-size: 16px;
    line-height: 30px;
    color: #707876;
    padding: 32px 0;
}
#introduction .intro_content h4{
    font-size: 24px;
    font-weight: 900;
    color: var(--primary-color);
    padding-bottom: 40px;
}
#introduction .intro_content .intro_reating span{
    border: 3px solid var(--primary-color);
    border-right: 3px solid #d6d6d6;
    border-radius: 50%;
    transform: rotate(-46deg);
    margin-right: 15px;
}
#introduction .intro_content .intro_reating span p{
    color: var(--dark-color);
    padding: 50px 47px;
    font-size: 16px;
    font-weight: 900;
    transform: rotate(46deg);
}
#introduction .intro_content .intro_reating span.aa{
    border-bottom: 3px solid #d6d6d6;
}
#introduction .intro_content .intro_reating p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 900;
    color: var(--dark-color);
}
/* ||Our Introductions Css End|| */

/* Our Testimonial Css Start */
#test{
    background-image: url(../images/helps/banner-about-test.jpg);
    position: relative;
    background-size: cover;
    background-position: top;
    height: 550px;
    z-index: 1;
    padding: 80px 0;
}
#test::after{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(239, 245, 244, 90%);
    z-index: -1;
}
#test .test_item h2{
    font-size: 50px;
    line-height: 62px;
    color: var(--dark-color);
    font-weight: 900;
    padding-top: 5px;
}
/* Test Arrow Slider Css Start */
#test .test_item_arrow{
    padding-top: 30px;
}
#test .test_item_arrow i{
    font-size: 30px;
    color: var(--dark-color);
    background-color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    transition: var(--liner3s);
}
#test .test_item_arrow a:hover i{
    background-color: var(--primary-color);
    color: #fff;
}
/* ||Test Arrow Slider Css End|| */
#test .test_item .test_slider .test_slider_item{
    padding: 12px;
}
#test .test_item .test_slider .test_item_bg{
    background-color: #fff;
    padding: 40px;
}
#test .test_item .test_slider p{
    font-size: 18px;
    line-height: 34px;
    color: #707876;
}
#test .test_item .test_slider .test_user{
    padding-top: 20px;
}
#test .test_user .test_user_img{
    position: relative;
}
#test .test_user .test_user_img a{
    position: absolute;
    right: -20px;
    top: calc(50% - 20px);
}
#test .test_user .test_user_img i{
    font-size: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    background: var(--primary-color);
    border-radius: 50%;
}
#test .test_item .test_slider .test_user_intro{
    padding-left: 30px;
}
#test .test_item .test_slider h4{
    font-size: 20px;
    font-weight: 900;
    color: var(--primary-color);
}

/* ||Our Testimonial Css End|| */

/* Counter sec Css Start */
#count_sec{
    background-image: url(../images/helps/banner-about-counter.jpg);
    position: relative;
    background-size: cover;
    background-position: top;
    height: 550px;
    z-index: 1;
}
#count_sec::after{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: hsl(229, 22%, 15%, .7);
    z-index: -1;
}
#count_sec h4{
    padding-top: 100px;
    padding-bottom: 60px;
    font-size: 60px;
    color: #fff;
    font-weight: 900;
    line-height: 70px;
}
#count_sec a{
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    padding: 18.5px 50px;
    transition: var(--liner3s);
}
#count_sec a:hover{
    background-color: var(--dark-color);
    color: #fff;
}
/*=========*/
#counter_up .row{
    box-shadow: -1px 3px 5px 1px rgba(0,0,0,0.10);
-webkit-box-shadow: -1px 3px 5px 1px rgba(0,0,0,0.10);
-moz-box-shadow: -1px 3px 5px 1px rgba(0,0,0,0.10);
}
#counter_up .counter_item{
    padding: 50px 0;
    background-color: #fff;
    margin-top: -50px;
    position: relative;
    z-index: 111111;
}
#counter_up .counter_item span{
    color: var(--primary-color);
    font-size: 50px;
    font-weight: 900;
    padding-bottom: 10px;
}
#counter_up .counter_item p{
    font-family: 900;
    color: var(--dark-color);
    font-size: 18px;
    line-height: 30px;
    border-right: 1px solid #ddd;
}
#counter_up .counter_item p.last{
    border-right: 1px solid transparent;
}
/* ||Counter sec Css End|| */

/* Volunteer Css Start */
#volunteer{
    padding: 100px 0;
}
#volunteer .volunteer_item .vol_item_content{
    padding: 0 30px;
}
#volunteer .volunteer_item .vol_img img{
    filter: grayscale(90%);
    transition: var(--liner3s);
}
#volunteer .volunteer_item .vol_item_content:hover .vol_img img{
    filter: grayscale(0);
}
#volunteer .volunteer_item .vol_text h2{
    font-size: 50px;
    color: var(--primary-color);
    font-weight: 400;
    font-family: var(--reeyfont);
    text-align: right;
    padding-right: 20px;
    margin-top: -37px;
    position: relative;
    z-index: 1111;
}
#volunteer .volunteer_item .vol_text h4{
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    color: var(--dark-color);
    padding-top: 30px;
}
#volunteer .volunteer_item .vol_text p{
    font-size: 16px;
    line-height: 30px;
    color: #707876;
    padding: 10px 0 20px 0;
}
#volunteer .volunteer_item .vol_social i{
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: #e5eeec;
    color: var(--dark-color);
    font-size: 13px;
    border-radius: 50%;
    margin-right: 10px;
    transition: var(--liner3s);
}
#volunteer .volunteer_item .vol_social i:hover{
    background-color: var(--primary-color);
    color: #fff;
}
/* ||Volunteer Css End|| */
/*====================
About Page
=========================*/
/* Common Css Start end*/