
*{
    box-sizing: border-box;

}
body{
    margin: 0;
    font-family: sans-serif;
    text-transform: capitalize;
}
h3{ color:cadetblue;}
/* code for portfolio */
section{
    padding:20px;
    height: 330px;
}
h1{
    font-size: 40px;
}
.highlight{
    color: orange;
}
.leftside{
    width: 40%;
    float: left;
    margin-left: 40px;
}
.rightside{
    width: 50%;
    float: left;
    padding:20px;
}
.rightside img{
    border-radius: 144px;
    margin-left: 120px;
}
